<!DOCTYPE html PUBLIC>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Vger</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="stylesheet" href="vendor/leaflet.css" />
		<link rel="stylesheet" href="style.css" />
		<script src="vendor/leaflet.js"></script>
		<script src="vendor/angular.min.js"></script>
 		<script src="script.js"></script>
        
        <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
        <meta name="apple-mobile-web-app-title" content="Vger">
        <link rel="shortcut icon" href="favicons/favicon.ico">
        <link rel="icon" type="image/png" href="favicons/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
        <meta name="msapplication-config" content="favicons/browserconfig.xml">
        <meta name="application-name" content="Vger">
    </head>
	
	<body ng-app="vger">
		
		<div id="view" ng-controller="ListCtrl">

			<div id="menu" ng-class="{spread: $root.spreadMenu}">
				<span id="buttonMenu" class="option" ng-click='$root.spreadMenu = !$root.spreadMenu'>
					<i class="icon-menu"></i>
				</span>
				<span id="buttonCurrentLocation" class="option" ng-click='currentLocation()'>
					<i class="icon-mark"></i>
					<span class="menu-title">My current location</span>
				</span>
				<span id="buttonReload" class="option" ng-click='reload()'>
					<i class="icon-reload"></i>
					<span class="menu-title">Load Wikipedia entries</span>
				</span>
				<span id="buttonMap" class="option" ng-class="{active: !mapVisible}" ng-click='showMap()'>
					<i class="icon-map"></i>
					<span class="menu-title">Map</span>
				</span>
				<span id="buttonList" class="option" ng-class="{active: mapVisible}" ng-click='showList()'>
					<i class="icon-list"></i>
					<span class="menu-title">List of entries</span>
				</span>
				
				<div id="logo" ng-class="{loading: loading}" ng-click='logo()'>
					<i class="icon-logo"></i>
				</div>
			</div>

			<div id="container">
				<div id="map" ng-class="{active: mapVisible}"></div>
				
				<div id="list" ng-class="{active: !mapVisible}">
					<div ng-repeat="entry in entries" ng-click='openPopUp($index)' class="entry">
						<div class="entryImg">
							<img ng-display="entry.thumbnail.source" ng-src="{{ entry.thumbnail.source }}" />
						</div><div class="entryTitle">
							{{ entry.title }}
						</div>
					</div>
				</div>
				
				<div id="message" ng-class="{active: messageVisible}">
                    <div ng-show="messages.redirect">
                        <p>Sorry, Vger couldn't find the current location... You've been redirected to {{location.name}}.</p>
                    </div>
                    <div ng-show="messages.about">
                        <p>Vger is being designed and developed as a weekend project by Fran López.</p>
                        <p><a href='mailto:fran@fran-lopez.com' class='loading'><h4>fran@fran-lopez.com</h4></a></p>
                    </div>
					<br/><br/><br/>
					<div id="message-ok" class="button-link" ng-click="clearMessage()">Ok</div>
				</div>
			</div>
			
		</div>

	</body>

</html>
